/* 기본 사이드바 스타일 */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #0F172A;
  color: white;
  padding: 20px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu .level1 > li {
  margin-bottom: 10px;
}

.lvl1-name {
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  background-color: #444;
  margin-bottom: 5px;
  border-radius: 4px;
}

.level2-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out; /* 슬라이딩 애니메이션 */
}

.level2-wrapper.open {
  max-height: 300px; /* 충분한 높이를 설정하여 내용이 보이게 만듬 */
}

.level2 {
  padding-left: 20px;
  list-style-type: disc !important;
}

.level2 li {
  padding: 5px 0;
  cursor: pointer;
}

.level2 li:hover {
  background-color: #555;
}

.level1 > p
{
  text-align: left;
  font-size: 12px;
  color:#13C690 ;

  padding-bottom: 20px;

}
.lvl1-name
{
background-color: #282d3b;

}
.lvl1-name > p 
{
color:#838597 ;

}